[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pete Lawson (geekypete)
[access "refs/for/refs/*"]
	read = group user/Pete Lawson (geekypete)
	push = group user/Pete Lawson (geekypete)
	label-Code-Review = -2..+2 group user/Pete Lawson (geekypete)
	label-Verified = -1..+1 group user/Pete Lawson (geekypete)
	rebase = group user/Pete Lawson (geekypete)
	removeReviewer = group user/Pete Lawson (geekypete)
	submit = group user/Pete Lawson (geekypete)
[access "refs/heads/*"]
	read = group user/Pete Lawson (geekypete)
	create = group user/Pete Lawson (geekypete)
	push = +force group user/Pete Lawson (geekypete)
	pushMerge = group user/Pete Lawson (geekypete)
[access "refs/tags/*"]
	push = +force group user/Pete Lawson (geekypete)
	pushTag = group user/Pete Lawson (geekypete)
	pushSignedTag = group user/Pete Lawson (geekypete)
